/* line 1, ../sass/style.scss */
pre {
  background-color: #f9f9f9;
  padding: 1rem;
  border: solid thin #ddd;
}

@media only screen and (max-width: 600px) {
  /* line 8, ../sass/style.scss */
  .sorting_1, #blogItems > thead > tr > th:nth-child(2) {
    display: none;
  }

  /* line 11, ../sass/style.scss */
  iframe {
    width: 100%;
    height: 15rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  /* line 17, ../sass/style.scss */
  div#blogItems_length {
    display: none;
  }

  /* line 20, ../sass/style.scss */
  .pagination {
    padding-left: revert;
  }
}
