pre {
    background-color: #f9f9f9;
    padding: 1rem;
    border: solid thin #ddd;
}

@media only screen and (max-width: 600px) {
    .sorting_1, #blogItems>thead>tr>th:nth-child(2) {
        display: none;
    }
    iframe {
        width: 100%;
        height: 15rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    div#blogItems_length {
        display: none;
    }
    .pagination{
        padding-left: revert;
    }
}